{% extends 'base.html.twig' %}

{% block title %}New Approval{% endblock %}

{% block body %}
<h1>Create New Approval</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Create</button>
{{ form_end(form) }}

<a href="{{ path('approval_index') }}">Back to list</a>
{% endblock %}
